<center>
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><h1>Formulario sensivel ao contexto</h1></h3>
  </div>
  <div class="panel-body">
   
    
 
     <div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
        <form>
       
      
        
        <%= render "partials/cadastro/nomeusuario" %>
        <%= render "partials/cadastro/cpfusuario" %>
        <%= render "partials/cadastro/enderecousuario" %>
        <%= render "partials/cadastro/cepusuario" %>
        <%= render "partials/cadastro/cidadeusuario" %>
        <%= render "partials/cadastro/estadousuario" %>
        <%= render "partials/cadastro/celularusuario" %>
    <button type="submit" class="btn btn-primary">Subimeter</button>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
   
   
 
 
  
  
 
</center>
 
  </div>
</div>