<center>
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><h1>Formulario sensivel ao contexto</h1></h3>
  </div>
  <div class="panel-body">
   
    <form>
       
      
        
        <%= render "partials/cadastro/nomeusuario" %>
        <%= render "partials/cadastro/cpfusuario" %>
        <%= render "partials/cadastro/enderecousuario" %>
        <%= render "partials/cadastro/cepusuario" %>
        <%= render "partials/cadastro/cidadeusuario" %>
        <%= render "partials/cadastro/estadousuario" %>
        <%= render "partials/cadastro/celularusuario" %>
 
     
   
   
 
 
  
  
  <button type="submit" class="btn btn-primary">Subimeter</button>
    </form>
</center>
 
  </div>
</div>