<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Dashboard-completo</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
 <div class="panel panel-default">
      
    <div class="panel-heading"><center>    <h4 >Principais ações do sistema</h4></center></div>
      <center>
        <button type="button" class="btn btn-primary"><%= image_tag("gas.png", :alt => "Vender credito de Gás") %></button>
        <button type="button" class="btn btn-primary"><%= image_tag("agua.png", :alt => "Vender credito de água") %></button>
        <button type="button" class="btn btn-primary"><%= image_tag("celular.png", :alt => "Vender credito de água") %></button>
        <button type="button" class="btn btn-primary"><%= image_tag("sms.png", :alt => "Cadastrar novo usuario") %></button>
        <button type="button" class="btn btn-primary"><%= image_tag("cadastro.png", :alt => "Cadastrar novo usuario") %></button>
      </center>
  </div> 

</div>
<br>
  <div class="panel panel-primary">
      <div class="panel-heading">Saldo disponivel para vendas</div>
      <div class="panel-body">R$: 50.000.00</div>
    </div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Area de renderização de graficos
        <div class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
              Data
              <span class="caret"></span>
            </button>
             <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
              Graficos
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="#">Action</a>
              </li>
              <li><a href="#">Another action</a>
              </li>
              <li><a href="#">Something else here</a>
              </li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div id="morris-area-chart"></div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Area de renderização de relatorios
        <div class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
              Data
              <span class="caret"></span>
            </button>
             <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
              Relatorios
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="#">Action</a>
              </li>
              <li><a href="#">Another action</a>
              </li>
              <li><a href="#">Something else here</a>
              </li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a>
              </li>
             
            </ul>
            
          </div>
          
        </div>
        
      </div>
      
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-4">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
               Renderizar tabela aqui
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.col-lg-4 (nested) -->
          <div class="col-lg-8">
            <div id="morris-bar-chart"></div>
          </div>
          <!-- /.col-lg-8 (nested) -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i> Notificações
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <i class="fa fa-comment fa-fw"></i> nome da notificação
                                    <span class="pull-right text-muted small"><em>tempo decorrido</em>
                                    </span>
          </a>

        </div>
        <!-- /.list-group -->
        <a href="#" class="btn btn-default btn-block">View All Alerts</a>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
   
    <!-- /.panel .chat-panel -->
  </div>
  <!-- /.col-lg-4 -->
</div>
<!-- /.row -->