<center><h1>Testando metodos da classe pdv</h1></center>
<h1>metodo 1: .Testar_classe</h1>
<h2>Retorno:</h2><%=@pdv.testar_classe%>
<br>
<h1>metodo 2: .sell_gas</h1>
<h2>Retorno:</h2><%=@pdv.sell_gas @os_pdv%>
<br>
<h1>metodo 3: .consultar_status_pdv </h1>
<h2>Retorno:</h2><%=@pdv.consultar_status_pdv @os_pdv%>
<br>
<h1>metodo 4: .consultar_saldo_creditos_pdv</h1>
<h2>Retorno:</h2><%=@pdv.consultar_saldo_creditos_pdv @os_pdv%>
<br>
<h1>metodo 5: .consultar_relatorio_vendas</h1>
<h2>Retorno:</h2><%=@pdv.consultar_relatorio_vendas @os_pdv%>
<br>
<small>(dificuldade com os argumentos)</small>
<%=@tela%>
<%=@os_pdv.usrphone%>