<div class="row">
 <div class="panel panel-default">
      
    <div class="panel-heading"><center>    <h4 >Ações disponiveis para este usuario </h4></center></div>
      <center>
        <button type="button" class="btn btn-primary"><%= image_tag("gas.png", :alt => "Vender credito de Gás") %></button>
        <button type="button" class="btn btn-primary"><%= image_tag("agua.png", :alt => "Vender credito de água") %></button>
        <button type="button" class="btn btn-primary"><%= image_tag("celular.png", :alt => "Vender credito de água") %></button>
        <button type="button" class="btn btn-primary"><%= image_tag("sms.png", :alt => "Cadastrar novo usuario") %></button>
        <button type="button" class="btn btn-primary"><%= image_tag("cadastro.png", :alt => "Cadastrar novo usuario") %></button>
      </center>
  </div> 

</div>