<div class="row">
 <div class="panel panel-default">
      
    <div class="panel-heading"><center>    <h4 >Ações disponiveis para este usuario </h4></center></div>
      <center>
      
           <%= render "partials/action_buttons/actionbuttonsellgas" %>
           <%= render "partials/action_buttons/actionbuttonsellwatter" %>
           <%= render "partials/action_buttons/actionbuttonsellcredittocellphone" %>
           <%= render "partials/action_buttons/actionbuttonsmscampaign" %>
           <%= render "partials/action_buttons/actionbuttonregisteruser" %>
       
       
      </center>
  </div> 

</div>