<h1>Server#home</h1>
<center><h1>Metodo de teste</h1></center>
<p>testando metodo: testar_conexao=>server</p>
<%=@server.testar_conexao @cep%>
<center><h1>Metodo 1</h1></center>
<p>testando metodo: criar_cadastro_usuario => server</p>
<%=@server.criar_cadastro_usuario%>
<center><h1>Metodo 2</h1></center>
<p>testando metodo: Listar_usuarios_cadastrados  => server</p>
<%=@server.listar_usuarios_cadastrados%>
<center><h1>Metodo 3</h1></center>
<p>testando metodo: Atualizar_cadastro_usuario  => server</p>
<%=@server.atualizar_cadastro_usuario%>
<center><h1>Metodo 4</h1></center>
<p>testando metodo: coletar_dados_usuario  => server</p>
<%=@server.coletar_dados_usuario%>
<p># verifique se este metodo esta respondendo de acordo com o esperado</p>
<center><h1>Metodo 5</h1></center>
<p>testando metodo: remover_cadastro_usuario_final  => server</p>
<%=@server.remover_cadastro_usuario_final%>
<p># verifique se este metodo esta respondendo de acordo com o esperado</p>
<center><h1>Metodo6</h1></center>
<p>testando metodo: gerar_credito_usuario  => server</p>
<%=@server.gerar_credito_usuario%>
<center><h1>Metodo 7</h1></center>
<p>testando metodo:  solicitar_relatorio_vendas_pdv => server</p>
<%=@server.solicitar_relatorio_vendas_pdv%>
<center><h1>Metodo 8</h1></center>
<p>testando metodo: solicitar_informacoes_gerais_pdv => server</p>
<%=@server.solicitar_informacoes_gerais_pdv%>






