<!DOCTYPE html>
<html>
<head>
  <title>Gás Extra</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
    <%= render "partials/layouts/topnav" %>
    <%= render "partials/layouts/sidenav" %>
    <div id="page-wrapper">
    <%= render "partials/layouts/pagename" %>
    
    <%= render "partials/layouts/actiondisplay" %>
    
        <%= yield %>
    </div>
</div>
</body>
</html>
